body {
  font-family: Arial, sans-serif;
}

.text-multi-color {
  background-image: linear-gradient(to left, violet, indigo, green, blue, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

form {
  /*border: solid 1px black;*/
  border-radius: 5px;
  margin: 10px auto;
  padding: 20px;
  max-width: 600px;
}

code {
  background-color: whitesmoke;
}


/**
 * issue.html
 */
.issue {
  margin: 20px;
  padding: 5px;
  width: 60%;
  border: 2px solid black;
}

.closed {
  background-color: lightgrey;
}

.id {
  font-size: 10.5px;
}
